Hello!
My name is Jonanthan J. Quintero Ramos and I come from a little town in Mexico.
The pronunciation is horrible so i'll leave it out.

I like the color green, which is luck as my command prompt and command lines are green as well

